<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="b4cc043df931ac7a8ceed60fdef591d1"/>
        <env name="DATABASE_URL" value="mysql://football:password@mysql:3306/football"/>
        <env name="JWT_SECRET" value="example_secret_for_testing_only"/>
    </php>
    <testsuites>
        <testsuite name="auth">
            <directory>tests/auth</directory>
        </testsuite>
        <testsuite name="team/create">
            <directory>tests/team/create</directory>
        </testsuite>
        <testsuite name="team/update/{id}">
            <directory>tests/team/update/{id}</directory>
        </testsuite>
        <testsuite name="team/{season}">
            <directory>tests/team/{season}</directory>
        </testsuite>
        <testsuite name="team/delete/{id}">
            <directory>tests/team/delete/{id}</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
    </php>
</phpunit>
